body {
	text-align: center;
}

#puzzleboard {
	margin: 50px auto 50px auto;
	height: 400px;
	width: 400px;
	position: relative;
}

.tile {
	height: 90px;
	width: 90px;
	border: 5px solid black;
	font-size: 40px;
	line-height: 90px;
	position: absolute;
}

.row1 {
	top: 0px;
}

.row2 {
	top: 100px;
}

.row3 {
	top: 200px;
}

.row4 {
	top: 300px;
}

.col1 {
	left: 0px;
}

.col2 {
	left: 100px;
}

.col3 {
	left: 200px;
}

.col4 {
	left: 300px;
}