body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #000;
}

/* Control Panel */

#controlpanel {
	height: 400px;
	width: 300px;
	padding: 0 20px;
	float: left;
	text-align: left;
}

#controlpanel h1 {
	font-size: 24px;
	margin: 1px;
}

.dim {
	color: #999;
}

#selectphoto, #selectdifficultylevel, #gamestats {
	padding-left: 10px;
	margin: 25px 0;
}

#selectphoto input, #selectdifficultylevel input, #clickCounter, #timer {
	margin-left: 10px;
}

#clickCounter, #timer {
	height: 20px;
}

/* Game area */

#gamearea {
	width: 1100px;
	margin: 50px auto;
}

#puzzleboard {
	height: 400px;
	width: 400px;
	margin: 0 350px;
	padding-bottom: 20px;
	position: relative;
}

.tile {
	height: 98px;
	width: 98px;
	border: 1px solid #FFF;
	font-size: 40px;
	line-height: 90px;
	position: absolute;
	background-repeat: no-repeat;
	transition-duration: .05s;
}

.moveable {
	cursor: pointer;
}

.moveable:hover {
	opacity: 0.5;
}

#shufflebutton, #resetbutton {
	height: 40px;
	width: 120px;
	border: none;
	border-radius: 3px;
	background-color: #008080;
	font-size: 18px;
	color: #FFF;
	cursor: pointer;
	box-shadow: 1px 1px 2px #777;
}

#resetbutton {
	display: none;
}

#shufflebutton:hover, #resetbutton:hover {
	background-color: #1A9A9A;
}

#shufflebutton:focus, #resetbutton:focus {
	outline: none;
}

#messageboard {
	height: 50px;
	font-size: 28px;
	margin: 35px 0;
}

.dimboard {
	opacity: 0.5;
}

/* Tile positions */

.row1 {
	top: 0px;
}

.row2 {
	top: 100px;
}

.row3 {
	top: 200px;
}

.row4 {
	top: 300px;
}

.col1 {
	left: 0px;
}

.col2 {
	left: 100px;
}

.col3 {
	left: 200px;
}

.col4 {
	left: 300px;
}

#tile1 {
	background-position: 0px 0px;
}

#tile2 {
	background-position: -100px 0px;
}

#tile3 {
	background-position: -200px 0px;
}

#tile4 {
	background-position: -300px 0px;
}

#tile5 {
	background-position: 0px -100px;
}

#tile6 {
	background-position: -100px -100px;
}

#tile7 {
	background-position: -200px -100px;
}

#tile8 {
	background-position: -300px -100px;
}

#tile9 {
	background-position: 0px -200px;
}

#tile10 {
	background-position: -100px -200px;
}

#tile11 {
	background-position: -200px -200px;
}

#tile12 {
	background-position: -300px -200px;
}

#tile13 {
	background-position: 0px -300px;
}

#tile14 {
	background-position: -100px -300px;
}

#tile15 {
	background-position: -200px -300px;
}